body{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
tr:nth-child(even) {
    background-color: aqua;
}